<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.common.dao.mapper.interfaces.GnServiceNumMapper" >
  <resultMap id="BaseResultMap" type="com.x.common.dao.mapper.bo.GnServiceNum" >
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="BASIC_ORG_CODE" property="basicOrgCode" jdbcType="VARCHAR" />
    <result column="BASIC_ORG_NAME" property="basicOrgName" jdbcType="VARCHAR" />
    <result column="SERVICE_HEAD_CODE" property="serviceHeadCode" jdbcType="VARCHAR" />
    <result column="SERVICE_NUM_CODE" property="serviceNumCode" jdbcType="VARCHAR" />
    <result column="BUSI_CODE" property="busiCode" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_NO, PROVINCE_CODE, PROVINCE_NAME, CITY_CODE, CITY_NAME, BASIC_ORG_CODE, BASIC_ORG_NAME, 
    SERVICE_HEAD_CODE, SERVICE_NUM_CODE, BUSI_CODE, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.common.dao.mapper.bo.GnServiceNumCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from gn_service_num
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.x.common.dao.mapper.bo.GnServiceNumCriteria" >
    delete from gn_service_num
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.common.dao.mapper.bo.GnServiceNum" >
    insert into gn_service_num (ORDER_NO, PROVINCE_CODE, PROVINCE_NAME, 
      CITY_CODE, CITY_NAME, BASIC_ORG_CODE, 
      BASIC_ORG_NAME, SERVICE_HEAD_CODE, SERVICE_NUM_CODE, 
      BUSI_CODE, REMARK)
    values (#{orderNo,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{basicOrgCode,jdbcType=VARCHAR}, 
      #{basicOrgName,jdbcType=VARCHAR}, #{serviceHeadCode,jdbcType=VARCHAR}, #{serviceNumCode,jdbcType=VARCHAR}, 
      #{busiCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.x.common.dao.mapper.bo.GnServiceNum" >
    insert into gn_service_num
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="provinceName != null" >
        PROVINCE_NAME,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="basicOrgCode != null" >
        BASIC_ORG_CODE,
      </if>
      <if test="basicOrgName != null" >
        BASIC_ORG_NAME,
      </if>
      <if test="serviceHeadCode != null" >
        SERVICE_HEAD_CODE,
      </if>
      <if test="serviceNumCode != null" >
        SERVICE_NUM_CODE,
      </if>
      <if test="busiCode != null" >
        BUSI_CODE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="basicOrgCode != null" >
        #{basicOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="basicOrgName != null" >
        #{basicOrgName,jdbcType=VARCHAR},
      </if>
      <if test="serviceHeadCode != null" >
        #{serviceHeadCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceNumCode != null" >
        #{serviceNumCode,jdbcType=VARCHAR},
      </if>
      <if test="busiCode != null" >
        #{busiCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.common.dao.mapper.bo.GnServiceNumCriteria" resultType="java.lang.Integer" >
    select count(*) from gn_service_num
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gn_service_num
    <set >
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceName != null" >
        PROVINCE_NAME = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null" >
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.basicOrgCode != null" >
        BASIC_ORG_CODE = #{record.basicOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.basicOrgName != null" >
        BASIC_ORG_NAME = #{record.basicOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceHeadCode != null" >
        SERVICE_HEAD_CODE = #{record.serviceHeadCode,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceNumCode != null" >
        SERVICE_NUM_CODE = #{record.serviceNumCode,jdbcType=VARCHAR},
      </if>
      <if test="record.busiCode != null" >
        BUSI_CODE = #{record.busiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gn_service_num
    set ORDER_NO = #{record.orderNo,jdbcType=VARCHAR},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      PROVINCE_NAME = #{record.provinceName,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      BASIC_ORG_CODE = #{record.basicOrgCode,jdbcType=VARCHAR},
      BASIC_ORG_NAME = #{record.basicOrgName,jdbcType=VARCHAR},
      SERVICE_HEAD_CODE = #{record.serviceHeadCode,jdbcType=VARCHAR},
      SERVICE_NUM_CODE = #{record.serviceNumCode,jdbcType=VARCHAR},
      BUSI_CODE = #{record.busiCode,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>