<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.common.dao.mapper.interfaces.GnSubjectFundMapper" >
  <resultMap id="BaseResultMap" type="com.x.common.dao.mapper.bo.GnSubjectFund" >
    <id column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <id column="industry_code" property="industryCode" jdbcType="VARCHAR" />
    <id column="subject_id" property="subjectId" jdbcType="BIGINT" />
    <result column="fund_type" property="fundType" jdbcType="VARCHAR" />
    <result column="is_cash" property="isCash" jdbcType="VARCHAR" />
    <result column="use_mode" property="useMode" jdbcType="VARCHAR" />
    <result column="can_settle_all" property="canSettleAll" jdbcType="VARCHAR" />
    <result column="valid_type" property="validType" jdbcType="VARCHAR" />
    <result column="use_pri" property="usePri" jdbcType="BIGINT" />
    <result column="refund_rate" property="refundRate" jdbcType="BIGINT" />
    <result column="can_trans" property="canTrans" jdbcType="VARCHAR" />
    <result column="can_clean_fund" property="canCleanFund" jdbcType="VARCHAR" />
    <result column="can_del_book" property="canDelBook" jdbcType="VARCHAR" />
    <result column="cal_score" property="calScore" jdbcType="VARCHAR" />
    <result column="print_mode" property="printMode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tenant_id, industry_code, subject_id, fund_type, is_cash, use_mode, can_settle_all, 
    valid_type, use_pri, refund_rate, can_trans, can_clean_fund, can_del_book, cal_score, 
    print_mode
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.common.dao.mapper.bo.GnSubjectFundCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gn_subject_fund
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.x.common.dao.mapper.bo.GnSubjectFundKey" >
    select 
    <include refid="Base_Column_List" />
    from gn_subject_fund
    where tenant_id = #{tenantId,jdbcType=VARCHAR}
      and industry_code = #{industryCode,jdbcType=VARCHAR}
      and subject_id = #{subjectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.x.common.dao.mapper.bo.GnSubjectFundKey" >
    delete from gn_subject_fund
    where tenant_id = #{tenantId,jdbcType=VARCHAR}
      and industry_code = #{industryCode,jdbcType=VARCHAR}
      and subject_id = #{subjectId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.common.dao.mapper.bo.GnSubjectFundCriteria" >
    delete from gn_subject_fund
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.common.dao.mapper.bo.GnSubjectFund" >
    insert into gn_subject_fund (tenant_id, industry_code, subject_id, 
      fund_type, is_cash, use_mode, 
      can_settle_all, valid_type, use_pri, 
      refund_rate, can_trans, can_clean_fund, 
      can_del_book, cal_score, print_mode
      )
    values (#{tenantId,jdbcType=VARCHAR}, #{industryCode,jdbcType=VARCHAR}, #{subjectId,jdbcType=BIGINT}, 
      #{fundType,jdbcType=VARCHAR}, #{isCash,jdbcType=VARCHAR}, #{useMode,jdbcType=VARCHAR}, 
      #{canSettleAll,jdbcType=VARCHAR}, #{validType,jdbcType=VARCHAR}, #{usePri,jdbcType=BIGINT}, 
      #{refundRate,jdbcType=BIGINT}, #{canTrans,jdbcType=VARCHAR}, #{canCleanFund,jdbcType=VARCHAR}, 
      #{canDelBook,jdbcType=VARCHAR}, #{calScore,jdbcType=VARCHAR}, #{printMode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.x.common.dao.mapper.bo.GnSubjectFund" >
    insert into gn_subject_fund
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="industryCode != null" >
        industry_code,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="fundType != null" >
        fund_type,
      </if>
      <if test="isCash != null" >
        is_cash,
      </if>
      <if test="useMode != null" >
        use_mode,
      </if>
      <if test="canSettleAll != null" >
        can_settle_all,
      </if>
      <if test="validType != null" >
        valid_type,
      </if>
      <if test="usePri != null" >
        use_pri,
      </if>
      <if test="refundRate != null" >
        refund_rate,
      </if>
      <if test="canTrans != null" >
        can_trans,
      </if>
      <if test="canCleanFund != null" >
        can_clean_fund,
      </if>
      <if test="canDelBook != null" >
        can_del_book,
      </if>
      <if test="calScore != null" >
        cal_score,
      </if>
      <if test="printMode != null" >
        print_mode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null" >
        #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="fundType != null" >
        #{fundType,jdbcType=VARCHAR},
      </if>
      <if test="isCash != null" >
        #{isCash,jdbcType=VARCHAR},
      </if>
      <if test="useMode != null" >
        #{useMode,jdbcType=VARCHAR},
      </if>
      <if test="canSettleAll != null" >
        #{canSettleAll,jdbcType=VARCHAR},
      </if>
      <if test="validType != null" >
        #{validType,jdbcType=VARCHAR},
      </if>
      <if test="usePri != null" >
        #{usePri,jdbcType=BIGINT},
      </if>
      <if test="refundRate != null" >
        #{refundRate,jdbcType=BIGINT},
      </if>
      <if test="canTrans != null" >
        #{canTrans,jdbcType=VARCHAR},
      </if>
      <if test="canCleanFund != null" >
        #{canCleanFund,jdbcType=VARCHAR},
      </if>
      <if test="canDelBook != null" >
        #{canDelBook,jdbcType=VARCHAR},
      </if>
      <if test="calScore != null" >
        #{calScore,jdbcType=VARCHAR},
      </if>
      <if test="printMode != null" >
        #{printMode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.common.dao.mapper.bo.GnSubjectFundCriteria" resultType="java.lang.Integer" >
    select count(*) from gn_subject_fund
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gn_subject_fund
    <set >
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.industryCode != null" >
        industry_code = #{record.industryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=BIGINT},
      </if>
      <if test="record.fundType != null" >
        fund_type = #{record.fundType,jdbcType=VARCHAR},
      </if>
      <if test="record.isCash != null" >
        is_cash = #{record.isCash,jdbcType=VARCHAR},
      </if>
      <if test="record.useMode != null" >
        use_mode = #{record.useMode,jdbcType=VARCHAR},
      </if>
      <if test="record.canSettleAll != null" >
        can_settle_all = #{record.canSettleAll,jdbcType=VARCHAR},
      </if>
      <if test="record.validType != null" >
        valid_type = #{record.validType,jdbcType=VARCHAR},
      </if>
      <if test="record.usePri != null" >
        use_pri = #{record.usePri,jdbcType=BIGINT},
      </if>
      <if test="record.refundRate != null" >
        refund_rate = #{record.refundRate,jdbcType=BIGINT},
      </if>
      <if test="record.canTrans != null" >
        can_trans = #{record.canTrans,jdbcType=VARCHAR},
      </if>
      <if test="record.canCleanFund != null" >
        can_clean_fund = #{record.canCleanFund,jdbcType=VARCHAR},
      </if>
      <if test="record.canDelBook != null" >
        can_del_book = #{record.canDelBook,jdbcType=VARCHAR},
      </if>
      <if test="record.calScore != null" >
        cal_score = #{record.calScore,jdbcType=VARCHAR},
      </if>
      <if test="record.printMode != null" >
        print_mode = #{record.printMode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gn_subject_fund
    set tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      industry_code = #{record.industryCode,jdbcType=VARCHAR},
      subject_id = #{record.subjectId,jdbcType=BIGINT},
      fund_type = #{record.fundType,jdbcType=VARCHAR},
      is_cash = #{record.isCash,jdbcType=VARCHAR},
      use_mode = #{record.useMode,jdbcType=VARCHAR},
      can_settle_all = #{record.canSettleAll,jdbcType=VARCHAR},
      valid_type = #{record.validType,jdbcType=VARCHAR},
      use_pri = #{record.usePri,jdbcType=BIGINT},
      refund_rate = #{record.refundRate,jdbcType=BIGINT},
      can_trans = #{record.canTrans,jdbcType=VARCHAR},
      can_clean_fund = #{record.canCleanFund,jdbcType=VARCHAR},
      can_del_book = #{record.canDelBook,jdbcType=VARCHAR},
      cal_score = #{record.calScore,jdbcType=VARCHAR},
      print_mode = #{record.printMode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.common.dao.mapper.bo.GnSubjectFund" >
    update gn_subject_fund
    <set >
      <if test="fundType != null" >
        fund_type = #{fundType,jdbcType=VARCHAR},
      </if>
      <if test="isCash != null" >
        is_cash = #{isCash,jdbcType=VARCHAR},
      </if>
      <if test="useMode != null" >
        use_mode = #{useMode,jdbcType=VARCHAR},
      </if>
      <if test="canSettleAll != null" >
        can_settle_all = #{canSettleAll,jdbcType=VARCHAR},
      </if>
      <if test="validType != null" >
        valid_type = #{validType,jdbcType=VARCHAR},
      </if>
      <if test="usePri != null" >
        use_pri = #{usePri,jdbcType=BIGINT},
      </if>
      <if test="refundRate != null" >
        refund_rate = #{refundRate,jdbcType=BIGINT},
      </if>
      <if test="canTrans != null" >
        can_trans = #{canTrans,jdbcType=VARCHAR},
      </if>
      <if test="canCleanFund != null" >
        can_clean_fund = #{canCleanFund,jdbcType=VARCHAR},
      </if>
      <if test="canDelBook != null" >
        can_del_book = #{canDelBook,jdbcType=VARCHAR},
      </if>
      <if test="calScore != null" >
        cal_score = #{calScore,jdbcType=VARCHAR},
      </if>
      <if test="printMode != null" >
        print_mode = #{printMode,jdbcType=VARCHAR},
      </if>
    </set>
    where tenant_id = #{tenantId,jdbcType=VARCHAR}
      and industry_code = #{industryCode,jdbcType=VARCHAR}
      and subject_id = #{subjectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.common.dao.mapper.bo.GnSubjectFund" >
    update gn_subject_fund
    set fund_type = #{fundType,jdbcType=VARCHAR},
      is_cash = #{isCash,jdbcType=VARCHAR},
      use_mode = #{useMode,jdbcType=VARCHAR},
      can_settle_all = #{canSettleAll,jdbcType=VARCHAR},
      valid_type = #{validType,jdbcType=VARCHAR},
      use_pri = #{usePri,jdbcType=BIGINT},
      refund_rate = #{refundRate,jdbcType=BIGINT},
      can_trans = #{canTrans,jdbcType=VARCHAR},
      can_clean_fund = #{canCleanFund,jdbcType=VARCHAR},
      can_del_book = #{canDelBook,jdbcType=VARCHAR},
      cal_score = #{calScore,jdbcType=VARCHAR},
      print_mode = #{printMode,jdbcType=VARCHAR}
    where tenant_id = #{tenantId,jdbcType=VARCHAR}
      and industry_code = #{industryCode,jdbcType=VARCHAR}
      and subject_id = #{subjectId,jdbcType=BIGINT}
  </update>
</mapper>