<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.common.dao.mapper.interfaces.GnSysParamMapper">
  <resultMap id="BaseResultMap" type="com.x.common.dao.mapper.bo.GnSysParam">
    <id column="GUIDKEY" jdbcType="VARCHAR" property="guidkey" />
    <result column="TYPE_CODE" jdbcType="VARCHAR" property="typeCode" />
    <result column="PARAM_CODE" jdbcType="VARCHAR" property="paramCode" />
    <result column="COLUMN_VALUE" jdbcType="VARCHAR" property="columnValue" />
    <result column="COLUMN_DESC" jdbcType="VARCHAR" property="columnDesc" />
    <result column="SUB_PARAM_CODE" jdbcType="VARCHAR" property="subParamCode" />
    <result column="DISPORD" jdbcType="INTEGER" property="dispord" />
    <result column="DESCB" jdbcType="VARCHAR" property="descb" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="parent_value" jdbcType="VARCHAR" property="parentValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GUIDKEY, TYPE_CODE, PARAM_CODE, COLUMN_VALUE, COLUMN_DESC, SUB_PARAM_CODE, DISPORD, 
    DESCB, STATE, TENANT_ID, SYSTEM_ID, parent_value
  </sql>
  <select id="selectByExample" parameterType="com.x.common.dao.mapper.bo.GnSysParamCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from gn_sys_param
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gn_sys_param
    where GUIDKEY = #{guidkey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gn_sys_param
    where GUIDKEY = #{guidkey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.common.dao.mapper.bo.GnSysParamCriteria">
    delete from gn_sys_param
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.common.dao.mapper.bo.GnSysParam">
    insert into gn_sys_param (GUIDKEY, TYPE_CODE, PARAM_CODE, 
      COLUMN_VALUE, COLUMN_DESC, SUB_PARAM_CODE, 
      DISPORD, DESCB, STATE, 
      TENANT_ID, SYSTEM_ID, parent_value
      )
    values (#{guidkey,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{paramCode,jdbcType=VARCHAR}, 
      #{columnValue,jdbcType=VARCHAR}, #{columnDesc,jdbcType=VARCHAR}, #{subParamCode,jdbcType=VARCHAR}, 
      #{dispord,jdbcType=INTEGER}, #{descb,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=VARCHAR}, #{systemId,jdbcType=VARCHAR}, #{parentValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.x.common.dao.mapper.bo.GnSysParam">
    insert into gn_sys_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guidkey != null">
        GUIDKEY,
      </if>
      <if test="typeCode != null">
        TYPE_CODE,
      </if>
      <if test="paramCode != null">
        PARAM_CODE,
      </if>
      <if test="columnValue != null">
        COLUMN_VALUE,
      </if>
      <if test="columnDesc != null">
        COLUMN_DESC,
      </if>
      <if test="subParamCode != null">
        SUB_PARAM_CODE,
      </if>
      <if test="dispord != null">
        DISPORD,
      </if>
      <if test="descb != null">
        DESCB,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="parentValue != null">
        parent_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guidkey != null">
        #{guidkey,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="paramCode != null">
        #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="columnValue != null">
        #{columnValue,jdbcType=VARCHAR},
      </if>
      <if test="columnDesc != null">
        #{columnDesc,jdbcType=VARCHAR},
      </if>
      <if test="subParamCode != null">
        #{subParamCode,jdbcType=VARCHAR},
      </if>
      <if test="dispord != null">
        #{dispord,jdbcType=INTEGER},
      </if>
      <if test="descb != null">
        #{descb,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="parentValue != null">
        #{parentValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.common.dao.mapper.bo.GnSysParamCriteria" resultType="java.lang.Long">
    select count(*) from gn_sys_param
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gn_sys_param
    <set>
      <if test="record.guidkey != null">
        GUIDKEY = #{record.guidkey,jdbcType=VARCHAR},
      </if>
      <if test="record.typeCode != null">
        TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.paramCode != null">
        PARAM_CODE = #{record.paramCode,jdbcType=VARCHAR},
      </if>
      <if test="record.columnValue != null">
        COLUMN_VALUE = #{record.columnValue,jdbcType=VARCHAR},
      </if>
      <if test="record.columnDesc != null">
        COLUMN_DESC = #{record.columnDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.subParamCode != null">
        SUB_PARAM_CODE = #{record.subParamCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dispord != null">
        DISPORD = #{record.dispord,jdbcType=INTEGER},
      </if>
      <if test="record.descb != null">
        DESCB = #{record.descb,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null">
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null">
        SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentValue != null">
        parent_value = #{record.parentValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gn_sys_param
    set GUIDKEY = #{record.guidkey,jdbcType=VARCHAR},
      TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      PARAM_CODE = #{record.paramCode,jdbcType=VARCHAR},
      COLUMN_VALUE = #{record.columnValue,jdbcType=VARCHAR},
      COLUMN_DESC = #{record.columnDesc,jdbcType=VARCHAR},
      SUB_PARAM_CODE = #{record.subParamCode,jdbcType=VARCHAR},
      DISPORD = #{record.dispord,jdbcType=INTEGER},
      DESCB = #{record.descb,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      parent_value = #{record.parentValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.common.dao.mapper.bo.GnSysParam">
    update gn_sys_param
    <set>
      <if test="typeCode != null">
        TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="paramCode != null">
        PARAM_CODE = #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="columnValue != null">
        COLUMN_VALUE = #{columnValue,jdbcType=VARCHAR},
      </if>
      <if test="columnDesc != null">
        COLUMN_DESC = #{columnDesc,jdbcType=VARCHAR},
      </if>
      <if test="subParamCode != null">
        SUB_PARAM_CODE = #{subParamCode,jdbcType=VARCHAR},
      </if>
      <if test="dispord != null">
        DISPORD = #{dispord,jdbcType=INTEGER},
      </if>
      <if test="descb != null">
        DESCB = #{descb,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="parentValue != null">
        parent_value = #{parentValue,jdbcType=VARCHAR},
      </if>
    </set>
    where GUIDKEY = #{guidkey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.common.dao.mapper.bo.GnSysParam">
    update gn_sys_param
    set TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
      PARAM_CODE = #{paramCode,jdbcType=VARCHAR},
      COLUMN_VALUE = #{columnValue,jdbcType=VARCHAR},
      COLUMN_DESC = #{columnDesc,jdbcType=VARCHAR},
      SUB_PARAM_CODE = #{subParamCode,jdbcType=VARCHAR},
      DISPORD = #{dispord,jdbcType=INTEGER},
      DESCB = #{descb,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      parent_value = #{parentValue,jdbcType=VARCHAR}
    where GUIDKEY = #{guidkey,jdbcType=VARCHAR}
  </update>
</mapper>