<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.common.dao.mapper.interfaces.GnTenantMapper" >
  <resultMap id="BaseResultMap" type="com.x.common.dao.mapper.bo.GnTenant" >
    <id column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="TENANT_NAME" property="tenantName" jdbcType="VARCHAR" />
    <result column="TENANT_PWD" property="tenantPwd" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="INDUSTRY_CODE" property="industryCode" jdbcType="VARCHAR" />
    <result column="LOGO" property="logo" jdbcType="VARCHAR" />
    <result column="FRAME_PAGE_TEMPLATE" property="framePageTemplate" jdbcType="VARCHAR" />
    <result column="MER_NO" property="merNo" jdbcType="VARCHAR" />
    <result column="debit_side" property="debitSide" jdbcType="VARCHAR" />
    <result column="receiving_side" property="receivingSide" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TENANT_ID, TENANT_NAME, TENANT_PWD, STATE, INDUSTRY_CODE, LOGO, FRAME_PAGE_TEMPLATE, 
    MER_NO, debit_side, receiving_side
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.common.dao.mapper.bo.GnTenantCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from gn_tenant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gn_tenant
    where TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gn_tenant
    where TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.common.dao.mapper.bo.GnTenantCriteria" >
    delete from gn_tenant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.common.dao.mapper.bo.GnTenant" >
    insert into gn_tenant (TENANT_ID, TENANT_NAME, TENANT_PWD, 
      STATE, INDUSTRY_CODE, LOGO, 
      FRAME_PAGE_TEMPLATE, MER_NO, debit_side, 
      receiving_side)
    values (#{tenantId,jdbcType=VARCHAR}, #{tenantName,jdbcType=VARCHAR}, #{tenantPwd,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{industryCode,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{framePageTemplate,jdbcType=VARCHAR}, #{merNo,jdbcType=VARCHAR}, #{debitSide,jdbcType=VARCHAR}, 
      #{receivingSide,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.x.common.dao.mapper.bo.GnTenant" >
    insert into gn_tenant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="tenantName != null" >
        TENANT_NAME,
      </if>
      <if test="tenantPwd != null" >
        TENANT_PWD,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="industryCode != null" >
        INDUSTRY_CODE,
      </if>
      <if test="logo != null" >
        LOGO,
      </if>
      <if test="framePageTemplate != null" >
        FRAME_PAGE_TEMPLATE,
      </if>
      <if test="merNo != null" >
        MER_NO,
      </if>
      <if test="debitSide != null" >
        debit_side,
      </if>
      <if test="receivingSide != null" >
        receiving_side,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="tenantName != null" >
        #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="tenantPwd != null" >
        #{tenantPwd,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null" >
        #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="framePageTemplate != null" >
        #{framePageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null" >
        #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="debitSide != null" >
        #{debitSide,jdbcType=VARCHAR},
      </if>
      <if test="receivingSide != null" >
        #{receivingSide,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.common.dao.mapper.bo.GnTenantCriteria" resultType="java.lang.Integer" >
    select count(*) from gn_tenant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gn_tenant
    <set >
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantName != null" >
        TENANT_NAME = #{record.tenantName,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantPwd != null" >
        TENANT_PWD = #{record.tenantPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.industryCode != null" >
        INDUSTRY_CODE = #{record.industryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null" >
        LOGO = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.framePageTemplate != null" >
        FRAME_PAGE_TEMPLATE = #{record.framePageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.merNo != null" >
        MER_NO = #{record.merNo,jdbcType=VARCHAR},
      </if>
      <if test="record.debitSide != null" >
        debit_side = #{record.debitSide,jdbcType=VARCHAR},
      </if>
      <if test="record.receivingSide != null" >
        receiving_side = #{record.receivingSide,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gn_tenant
    set TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      TENANT_NAME = #{record.tenantName,jdbcType=VARCHAR},
      TENANT_PWD = #{record.tenantPwd,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      INDUSTRY_CODE = #{record.industryCode,jdbcType=VARCHAR},
      LOGO = #{record.logo,jdbcType=VARCHAR},
      FRAME_PAGE_TEMPLATE = #{record.framePageTemplate,jdbcType=VARCHAR},
      MER_NO = #{record.merNo,jdbcType=VARCHAR},
      debit_side = #{record.debitSide,jdbcType=VARCHAR},
      receiving_side = #{record.receivingSide,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.common.dao.mapper.bo.GnTenant" >
    update gn_tenant
    <set >
      <if test="tenantName != null" >
        TENANT_NAME = #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="tenantPwd != null" >
        TENANT_PWD = #{tenantPwd,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null" >
        INDUSTRY_CODE = #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        LOGO = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="framePageTemplate != null" >
        FRAME_PAGE_TEMPLATE = #{framePageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null" >
        MER_NO = #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="debitSide != null" >
        debit_side = #{debitSide,jdbcType=VARCHAR},
      </if>
      <if test="receivingSide != null" >
        receiving_side = #{receivingSide,jdbcType=VARCHAR},
      </if>
    </set>
    where TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.common.dao.mapper.bo.GnTenant" >
    update gn_tenant
    set TENANT_NAME = #{tenantName,jdbcType=VARCHAR},
      TENANT_PWD = #{tenantPwd,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      INDUSTRY_CODE = #{industryCode,jdbcType=VARCHAR},
      LOGO = #{logo,jdbcType=VARCHAR},
      FRAME_PAGE_TEMPLATE = #{framePageTemplate,jdbcType=VARCHAR},
      MER_NO = #{merNo,jdbcType=VARCHAR},
      debit_side = #{debitSide,jdbcType=VARCHAR},
      receiving_side = #{receivingSide,jdbcType=VARCHAR}
    where TENANT_ID = #{tenantId,jdbcType=VARCHAR}
  </update>
</mapper>