<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.common.dao.mapper.interfaces.SysItembankMapper" >
  <resultMap id="BaseResultMap" type="com.x.common.dao.mapper.bo.SysItembank" >
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="qname" property="qname" jdbcType="VARCHAR" />
    <result column="lang_dir" property="langDir" jdbcType="VARCHAR" />
    <result column="question_type" property="questionType" jdbcType="VARCHAR" />
    <result column="aditor" property="aditor" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_operator_id" property="createOperatorId" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="qnumber" property="qnumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bid, qname, lang_dir, question_type, aditor, state, create_time, create_operator_id, 
    flag, qnumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.common.dao.mapper.bo.SysItembankCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_itembank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.x.common.dao.mapper.bo.SysItembankCriteria" >
    delete from sys_itembank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.common.dao.mapper.bo.SysItembank" >
    insert into sys_itembank (bid, qname, lang_dir, 
      question_type, aditor, state, 
      create_time, create_operator_id, flag, 
      qnumber)
    values (#{bid,jdbcType=VARCHAR}, #{qname,jdbcType=VARCHAR}, #{langDir,jdbcType=VARCHAR}, 
      #{questionType,jdbcType=VARCHAR}, #{aditor,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createOperatorId,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{qnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.x.common.dao.mapper.bo.SysItembank" >
    insert into sys_itembank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bid,
      </if>
      <if test="qname != null" >
        qname,
      </if>
      <if test="langDir != null" >
        lang_dir,
      </if>
      <if test="questionType != null" >
        question_type,
      </if>
      <if test="aditor != null" >
        aditor,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createOperatorId != null" >
        create_operator_id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="qnumber != null" >
        qnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="qname != null" >
        #{qname,jdbcType=VARCHAR},
      </if>
      <if test="langDir != null" >
        #{langDir,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        #{questionType,jdbcType=VARCHAR},
      </if>
      <if test="aditor != null" >
        #{aditor,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperatorId != null" >
        #{createOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="qnumber != null" >
        #{qnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.common.dao.mapper.bo.SysItembankCriteria" resultType="java.lang.Integer" >
    select count(*) from sys_itembank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_itembank
    <set >
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=VARCHAR},
      </if>
      <if test="record.qname != null" >
        qname = #{record.qname,jdbcType=VARCHAR},
      </if>
      <if test="record.langDir != null" >
        lang_dir = #{record.langDir,jdbcType=VARCHAR},
      </if>
      <if test="record.questionType != null" >
        question_type = #{record.questionType,jdbcType=VARCHAR},
      </if>
      <if test="record.aditor != null" >
        aditor = #{record.aditor,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOperatorId != null" >
        create_operator_id = #{record.createOperatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=VARCHAR},
      </if>
      <if test="record.qnumber != null" >
        qnumber = #{record.qnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_itembank
    set bid = #{record.bid,jdbcType=VARCHAR},
      qname = #{record.qname,jdbcType=VARCHAR},
      lang_dir = #{record.langDir,jdbcType=VARCHAR},
      question_type = #{record.questionType,jdbcType=VARCHAR},
      aditor = #{record.aditor,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_operator_id = #{record.createOperatorId,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=VARCHAR},
      qnumber = #{record.qnumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>