<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.common.dao.mapper.interfaces.SysMailMapper" >
  <resultMap id="BaseResultMap" type="com.x.common.dao.mapper.bo.SysMail" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="SEND_USER_ID" property="sendUserId" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="SYS_MSG_ID" property="sysMsgId" jdbcType="VARCHAR" />
    <result column="RECEIVE_DATE" property="receiveDate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.x.common.dao.mapper.bo.SysMail" extends="BaseResultMap" >
    <result column="SEND_CONTEN" property="sendConten" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_ID, SEND_USER_ID, TITLE, SYS_MSG_ID, RECEIVE_DATE, STATUS
  </sql>
  <sql id="Blob_Column_List" >
    SEND_CONTEN
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.x.common.dao.mapper.bo.SysMailCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_mail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
     <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.common.dao.mapper.bo.SysMailCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_mail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_mail
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_mail
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.common.dao.mapper.bo.SysMailCriteria" >
    delete from sys_mail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.common.dao.mapper.bo.SysMail" >
    insert into sys_mail (ID, USER_ID, SEND_USER_ID, 
      TITLE, SYS_MSG_ID, RECEIVE_DATE, 
      STATUS, SEND_CONTEN)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{sendUserId,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{sysMsgId,jdbcType=VARCHAR}, #{receiveDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{sendConten,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.x.common.dao.mapper.bo.SysMail" >
    insert into sys_mail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="sendUserId != null" >
        SEND_USER_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="sysMsgId != null" >
        SYS_MSG_ID,
      </if>
      <if test="receiveDate != null" >
        RECEIVE_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="sendConten != null" >
        SEND_CONTEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sendUserId != null" >
        #{sendUserId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sysMsgId != null" >
        #{sysMsgId,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sendConten != null" >
        #{sendConten,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.common.dao.mapper.bo.SysMailCriteria" resultType="java.lang.Integer" >
    select count(*) from sys_mail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_mail
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.sendUserId != null" >
        SEND_USER_ID = #{record.sendUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sysMsgId != null" >
        SYS_MSG_ID = #{record.sysMsgId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDate != null" >
        RECEIVE_DATE = #{record.receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.sendConten != null" >
        SEND_CONTEN = #{record.sendConten,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sys_mail
    set ID = #{record.id,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      SEND_USER_ID = #{record.sendUserId,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      SYS_MSG_ID = #{record.sysMsgId,jdbcType=VARCHAR},
      RECEIVE_DATE = #{record.receiveDate,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=VARCHAR},
      SEND_CONTEN = #{record.sendConten,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_mail
    set ID = #{record.id,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      SEND_USER_ID = #{record.sendUserId,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      SYS_MSG_ID = #{record.sysMsgId,jdbcType=VARCHAR},
      RECEIVE_DATE = #{record.receiveDate,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.common.dao.mapper.bo.SysMail" >
    update sys_mail
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sendUserId != null" >
        SEND_USER_ID = #{sendUserId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sysMsgId != null" >
        SYS_MSG_ID = #{sysMsgId,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        RECEIVE_DATE = #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sendConten != null" >
        SEND_CONTEN = #{sendConten,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.x.common.dao.mapper.bo.SysMail" >
    update sys_mail
    set USER_ID = #{userId,jdbcType=VARCHAR},
      SEND_USER_ID = #{sendUserId,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      SYS_MSG_ID = #{sysMsgId,jdbcType=VARCHAR},
      RECEIVE_DATE = #{receiveDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      SEND_CONTEN = #{sendConten,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.common.dao.mapper.bo.SysMail" >
    update sys_mail
    set USER_ID = #{userId,jdbcType=VARCHAR},
      SEND_USER_ID = #{sendUserId,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      SYS_MSG_ID = #{sysMsgId,jdbcType=VARCHAR},
      RECEIVE_DATE = #{receiveDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>